.*
*.pyc
*.pyo
*~
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
web2py/index.yaml
web2py/gluon/tests/VERSION
web2py/gluon/tests/sql.log
web2py/httpserver.log
web2py/httpserver.pid
web2py/parameters*.py
web2py/deposit
web2py/benchmark
web2py/build
web2py/dist*
web2py/dummy_tests
web2py/optional_contrib
web2py/ssl
web2py/docs
web2py/logs
web2py/*.zip
web2py/gluon/*.1
web2py/gluon/*.txt
web2py/admin.w2p
web2py/examples.w2p
web2py/cron.master
web2py/applications/*/databases/*
web2py/applications/*/sessions/*
web2py/applications/*/errors/*
web2py/applications/*/cache/*
web2py/applications/*/uploads/*
web2py/applications/*/*.py[oc]
web2py/applications/*/static/temp
web2py/applications/*/progress.log
web2py/applications/admin/cron/cron.master
