{{extend 'layout.html'}}
<script src="http://cdn.bootcss.com/Chart.js/1.0.1-beta.2/Chart.min.js"></script>
<script>
    $( document ).ready(function() {
        $( ".port" ).hide();
        var cpuchart = document.getElementById("CPUChart").getContext("2d");
        var data = [
            {
                value: {{=host_usage['cpu'].user}},
            color:"#FF0000",
            highlight: "#FF0000",
            label: "User"
            },
            {
            value: {{=host_usage['cpu'].system}},
                        color: "#CC6600",
                        highlight: "#CC6633",
                        label: "System"
                        },
                        {
                        value: {{=host_usage['cpu'].idle}},
                        color: "#CCFFFF",
                        highlight: "#CCCCFF",
                        label: "Idle"
                        }
                        ]
                        var CPUPieChart = new Chart(cpuchart).Pie(data,{percentageInnerCutout : 50,segmentShowStroke : false});
    var memchart = document.getElementById("MEMChart").getContext("2d");
    var data = [
        {
            value: {{=host_usage['memory'].percent}},
        color:"#FF0000",
        highlight: "#FF0000",
        label: "Used"
        },
        {
        value: {{=100-host_usage['memory'].percent}},
            color: "#CCFFFF",
                highlight: "#CCCCFF",
                    label: "Available"
    }
    ]
    var MEMPieChart = new Chart(memchart).Pie(data,{percentageInnerCutout : 50,segmentShowStroke : false});
    var diskchart = document.getElementById("DISKChart").getContext("2d");
    var data = [
        {
            value: {{=host_usage['root_fs'].used/1024/1024}},
        color:"#FF0000",
        highlight: "#FF0000",
        label: "Used"
        },
        {
        value: {{=host_usage['root_fs'].free/1024/1024}},
            color: "#CCFFFF",
                highlight: "#CCCCFF",
                    label: "Available"
    }
    ]
    var MEMPieChart = new Chart(diskchart).Pie(data,{percentageInnerCutout : 50,segmentShowStroke : false});
    });
</script>

<div class="col-xs-6 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-info"></i> Host Info</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">
                <table class="table">
                    <tr>
                        <th>Hostname</th>
                        <td colspan=5>{{=docker_info['Name']}}</td>
                    </tr>
                    <tr>
                        <th>
                            Cores
                        </th>
                        <td>
                            {{=host['cpu_count']}}
                        </td>
                        <th>
                            Total Mem
                        </th>
                        <td>
                            {{=docker_info['MemTotal']/1024/1024}}MB
                        </td>
                        <th>
                            Disk
                        </th>
                        <td>
                            {{=host_usage['root_fs'].total/1024/1024}}MB
                        </td>
                    </tr>
                    <tr>
                        <th>OS</th><td colspan=2>{{=docker_info['OperatingSystem']}}</td>
                        <th>Kernel</th><td colspan=2>{{=docker_info['KernelVersion']}}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pie-chart"></i> Resource Info</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">CPU (%)</div>
                    <div class="panel-body">
                        <canvas id="CPUChart" width="100" weight="100"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Memory (%)</div>
                    <div class="panel-body">
                        <canvas id="MEMChart" width="100" weight="100"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Disk (MB)</div>
                    <div class="panel-body">
                        <canvas id="DISKChart" width="100" weight="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12">
    <table class="table table-striped table-condensed">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Ports
                <button onclick='$( ".port" ).toggle();' type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {{for c in containers:}}
        <tr>
            <td>{{=c['Id'][:12]}}</td>
            <td>{{=', '.join(c['Names']).lstrip('/')}}</td>
            <td>
                {{icon=db.my_image(db.my_image.docker_name==c['Image'].split(':')[0])}}
                {{if icon:}}
                {{if icon.glyphicon:}}
                <h1 style="display: inline;"><i data-toggle="tooltip" title="{{=icon.name}}" class="glyphicon {{=icon.glyphicon}}"></i></h1>
                {{else:}}
                <img data-toggle="tooltip" title="{{=icon.name}}" src="{{=URL('download', args=icon.icon)}}" />
                {{pass}}
                {{else:}}
                <h1 style="display: inline;"><i data-toggle="tooltip" title="{{=c['Image']}}" class="glyphicon glyphicon-hdd"></i></h1>

                {{pass}}
            </td>
            <td>
                <table class="table table-striped table-condensed port">
                    <th>IP</th><th>Type</th><th>Public</th><th>Private</th>
                    {{for port in c['Ports']:}}
                    <tr>
                        <td>{{=port.get('IP')}}</td><td>{{=port.get('Type')}}</td><td>{{=port.get('PublicPort')}}</td><td>{{=port.get('PrivatePort')}}</td>
                    </tr>
                    {{pass}}
                </table>
            </td>
            <td {{if c['Status'].find('Up') != -1:}} class="success" {{else:}} class="danger" {{pass}}>{{=c['Status']}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <a href="{{=URL('inspect',args=c['Id'])}}" class="btn btn-default" data-toggle="tooltip" title="Info"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Manage
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{=URL('start',args=c['Id'])}}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Start</a></li>
                            <li><a href="{{=URL('restart',args=c['Id'])}}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Restart</a></li>
                            <li><a href="{{=URL('stop',args=c['Id'])}}"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</a></li>
                            <li><a href="{{=URL('kill',args=c['Id'])}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Kill</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="{{=URL('remove',args=c['Id'])}}"><span class="danger glyphicon glyphicon-fire" aria-hidden="true"></span> Delete</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        {{pass}}
    </table>
</div>
